
.product-card {
width: 300px;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 5px;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
width: 300px;
text-align: center;
flex-wrap: wrap ;
width: 300px;
margin-right: 5px;
}
  
.product-content img {
    max-width: 100%;
    height: 200px; /* Set a fixed height for all images */
    object-fit: cover; /* Maintain aspect ratio and crop if necessary */
    margin-bottom: 10px;
    }


.product-content h3 {
margin-bottom: 5px;
}

.product-content p {
margin: 5px 0;
}

